$fuente_principal : "Montserrat", sans-serif;

// Colores
$verde:#4c90b8;
$rosa: #c62b2b;
$amarillo: #fd8f00;
$morado: #342f97;
$negro: #000000;
$blanco: #e3dfdf;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;